#wrap{
    width: 100%;
    overflow: hidden;
    #main{
        z-index: 2;
        position: relative;
        width: 100%;
        height: 100%;
        #section1{
            width:100%;
            height: 100%;
            .container{
                width: 100%;
                position: relative;
                .slide-container{
                    position: relative;
                    z-index: 1;
                    width: 100%;
                    .slide-view{
                        position: relative;
                        z-index: 1;
                        width: 100%;
                        overflow: hidden;
                        .slide-wrap{
                            pointer-events: none;
                            width: 100% * 15;
                            height: 100vh;
                            display: flex;
                            position: relative;
                            margin-left: -100%;
                            padding-top: 5vh;
                            .slide{
                                width: 100%;
                                height: 100vh;
                                background: url() no-repeat 50% 50%;
                                background-size: cover;
                                &.slide1{background-image: url(../img/1205_Banner_w.jpg);}
                                &.slide2{background-image: url(../img/1205_Banner_w0.jpg);}
                                &.slide6{background-image: url(../img/210125_WEB_main_banner5.jpg);}
                                &.slide7{background-image: url(../img/210224_WEB_main_banner.jpg);}
                                &.slide8{background-image: url(../img/8_SIMMONS_COLLECTION_pC.png);}
                                &.slide9{background-image: url(../img/190724_WEB_main_banner1.jpg);}
                                &.slide10{background-image: url(../img/8_220107_WEB_main_banner_furniture.jpg);}
                                &.slide11{background-image: url(../img/11_KENOSHA_HOME0.png);}
                                &.slide12{background-image: url(../img/190219_WEB_main_banner13.jpg);}
                                &.slide13{background-image: url(../img/11_220107_WEB_main_banner_fragrance.jpg);}
                            }
                        }
                    }
                }
                .chev-box{
                    .chevron-right-btn{
                        z-index: 3;
                        position: absolute;
                        top: 50%;
                        right: 0;
                        width: 100px;
                        height: 100px;
                        margin-top: -50px;
                        display: flex;
                        justify-content: center;
                        i{
                            display: block;
                            font-size: 2vw;
                            color:blanchedalmond;
                        }
                    }
                    .chevron-left-btn{
                        z-index: 3;
                        position: absolute;
                        top: 50%;
                        left: 0;
                        width: 100px;
                        height: 100px;
                        margin-top: -50px;
                        display: flex;
                        justify-content: center;
                        i{
                            display: block;
                            font-size: 2vw;
                            color:blanchedalmond;
                        }
                    }
                }
                .btn-box{
                    position: absolute;
                    z-index: 3;
                    bottom: 5%;
                    right: 2%;
                    width: 100%;
                    text-align: right;
                    span{
                        .page-btn{
                            display: inline-block;
                            width: 8px;
                            height: 8px;
                            border: 1px solid white;
                            border-radius: 50%;
                            &.on{
                                background-color: white;
                            }
                        }
                        .stop-btn{
                            display: inline-block;
                            width: 5px;
                            height: 8px;
                            border-left: 1px solid white;
                            border-right: 1px solid white;
                        }
                        .play-btn{
                            font-size: 10px;
                            display: none;
                            color: #fff;
                        }
                    }
                }
                #scrollBtnUp{
                        position: absolute;
                        z-index: 4;
                        bottom: 5%;
                        left: 50%;
                        display: flex;
                        flex-flow: column wrap;
                        align-items: center;
                        font-size: 15px;
                        font-weight: 400;
                        color: white;
                        text-align: center;
                        cursor: pointer;
                            i{
                                padding-top: 20%;
                                font-size: 2vw;
                            }
                }
            }
        }
        #section2{
            width: 100%;
            height: 100%;
            .container{
                    width: 100%;
                    position: relative;
                    #scrollBtnDown{
                        position: absolute;
                        z-index: 4;
                        top: 2%;
                        left: 50.7%;
                        display: flex;
                        flex-flow: column wrap;
                        align-items: center;
                        font-size: 15px;
                        font-weight: 400;
                        color: white;
                        text-align: center;
                        cursor: pointer;
                        i{
                            padding-bottom: 20%;
                            font-size: 2vw;
                        }
                    }
                    .banner{
                        width: 100%;
                        height: 100vh;
                        padding-top: 8%;
                        display: flex;
                        justify-content: center;
                        background: url(../img/1205_Banner_w_dim.jpg) no-repeat 50% 50%;
                        background-size: cover;
                        li{
                            width: 25%;
                            &:first-child{
                                margin-left: 10%;
                            }
                            &:last-child{
                                margin-right: 10%;
                            }
                            a{
                                width: 100%;
                                display: flex;
                                justify-content: flex-end;
                                img{
                                    width: 71%;
                                }
                            }
                        }
                    }
                }
            }
    }
    #footer{
        width: 100%;
    }
}